body {
	text-align: center;
	background-color: #E6E6FA;
	color: #4B0082;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
}

#buttons {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

#login {
	margin-right: 5px;
}

#create {
	margin-left: 5px;
}

#container {
	height: 100%;
}

#channels {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 40% 60%;
}

#join {
	background-color: #4B0082;
	color: white;
	grid-column-start: 1;
}

#channel {
	background-color: white;
	grid-column-start: 2;
}

#new_channel {
	display: flex;
	height: 5%;
	min-height: 40px;
}

#new_channel_button {
	margin: 5px 0 5px 0;
	border-style: ridge;
	border-width: thick;
	border-color: #4B0082;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	background-color: white;
}

#new_channel_button:hover {
	background-color: #FFF0F5;
}

ul#channel_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#channel_list button{
	width: 30%;
	min-width: 30px;
}

.channel_interface {
	display: grid;
	grid-template-rows: 0.5fr 1fr 5fr;
	height: 100%;
  }

.reply_interface {
	display: grid;
	grid-template-rows: 0.5fr 1fr 3fr 5fr;
	grid-template-columns: 100%;
	height: 100%;
}

.comment_box {
	margin: 5%;
	height: 100%;
}

.comment_box textarea {
display: block;
width: 100%
}

.comment_box button {
	border-radius: 5px;
	padding: 10px;
	border: none;
	margin-top: 15px;
}

.comment_box label {
	display: block;
	margin-bottom: 10px;
}

.messages {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: min-content;
	grid-auto-rows: min-content;
	grid-column-start: 1;
}

message {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-template-columns: 25% 55% 10% 10%;
	grid-template-rows: 1fr 1fr;
	border-bottom: 1px solid lightgray;
	max-height: 250px;
}

div#message {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-template-columns: 25% 55% 10% 10%;
	grid-template-rows: 1fr 1fr;
	border-bottom: 1px solid lightgray;
	max-height: 250px;
}

message img {
	max-height: 250px;
}

message author {
	color: #c93;
	font-weight: bold;
	display: block;
	padding: 5px;
}

message content {
	display: block;
	padding: 5px;
}

button#reply {
	width: 20%;
	min-width: 50px;
	justify-content: center;
	max-height: 30px;
}

p#reply_count {
	grid-column-start: 4;
	grid-column-end: 5;
}

@media screen and (max-width: 960px){
    body {
        width: 100%;
    }
	#channels {
		grid-template-columns: 100%;
		grid-template-rows: 2fr 3fr;
	}
	#join {
		grid-row-start: 1;
	}
	#channel {
		grid-column-start: 1;
		grid-row-start: 2;
	}
}
