body {
	text-align: center;
	background-color: #E6E6FA;
	color: #4B0082;
	font-family: monaco, Consolas, "Lucida Console", monospace;
}

#buttons {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}

#login {
	margin-right: 5px;
}

#create {
	margin-left: 5px;
}

#channels {
	display: flex;
	/* justify-content: space-evenly; */
}

#join {
	width: 40%;
	background-color: #4B0082;
	color: white;
}

#chat {
	width: 60%;
	background-color: white;
}

#new_channel {
	display: flex;
	height: 5%;
}

#new_channel_button {
	margin: 5px 0 5px 0;
	border-style: ridge;
	border-width: thick;
	border-color: #4B0082;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	background-color: white;
}

#new_channel_button:hover {
	background-color: #FFF0F5;
}